<!DOCTYPE html>
<html>
<head>
  <title>Chase B. Gale</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Conquering Mountains with Technology">
  <meta property="og:url" content="http://chasegale.com/">
  <meta property="og:site_name" content="Conquering Mountains with Technology">
  <meta property="og:description">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Conquering Mountains with Technology">
  <meta name="twitter:description">

  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="/vendor/fancybox/jquery.fancybox.css" media="screen" type="text/css">

  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!--
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-354944-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
  <div id="container">
    <header id="header">
      <h1 class="blog-title">
		    <a href="/">conquering mountains with technology</a>
      </h1>
      <nav class="nav">
    		<ul>
    			<li><a id="nav-index-btn" href="/#index" class="nav-icon" title="Archive"><span class="nav-icon-title">  index</span></a></li>
    			<li><a id="nav-about-btn" href="#about" class="nav-icon" title="About"><span class="nav-icon-title">  about</span></a></li>
    		</ul>
      </nav>
    </header>
    <div id="main">