<div id="index">
	<ul>
	<% for(var i=0; i<posts.length; i++) {%>
	   <li class="index-li">
	   	<span class="date"><%- posts[i].date.format("MMM DD, YYYY") %></span>
	   	<a href="/posts/<%- posts[i].folder %>"><%= posts[i].title %></a>
	   </li>
	<% } %>
	</ul>
</div>