<article class="post">
	<header class="entry-header">
		<span class="date">
			<%- post.date.format("MMM DD, YYYY") %>
		</span>
		<h1 itemprop="name" class="entry-title">
      <a class="article-title" href="/posts/<%- post.folder %>"><%- post.title %></a>
    </h1>
	</header>
	<div class="entry-content">
		<%- post.content %>
	</div>
</article>

<hr class="article-divider" />
<ins class="adsbygoogle"
		 style="display:block;width:728px;height:90px;margin: 0 auto;"
   	 data-ad-client="ca-pub-4898800745718155"
   	 data-ad-slot="4705512849"></ins>
<hr class="article-divider" />